*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #87CEEB;
}

.navBar {
    /* background-image: url(../images/sky.webp); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */

    background: linear-gradient(to right, #949393, #1f1e1e) !important;/* Background color applied after background image properties */
    color: wheat; 
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px auto;
    justify-content: space-between;
    border-bottom: 5px solid #9cebff;
    margin-top: -5px;
    position: fixed; /* Stick the navigation bar to the top */
    top: 0; /* Position it at the top of the viewport */
    z-index: 1000; /* Set a high z-index value to keep it on top */
}


.navBar #getStarted {
    position: relative;
    right: 45px;
    top: 2px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btns {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
}

.container {
    background-image: url(../images/airport.jpg);
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    height: 700px;
    padding-bottom: 50px;
}

.nav .toggleButton {
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    margin-right: 15px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    left: 75px;
}
nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

nav ul{
    position: relative;
    right: -15px;
    display: flex;
    list-style: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}

nav ul li{
    padding: 0 30px;
}

nav .btns{
    cursor: pointer;
    font-size: large;
    font-weight: bolder;
    border: none;
    background: transparent;
}

nav .btns:hover {
    color: #3ba4e5 !important;
}

.center{
 width: 600px;
 margin: 50px 70px;
 position: relative;
 top: 75px;
}

.center h1{
    position: relative;
    top: -25px;
    font-size: 70px;
    color: white;
}

.center p{
    position: relative;
    top: -38px;
    font-size: larger;
    font-weight: 50px;
    padding: 30px 0;
    color: white;
}

.center .tryBtn{
    padding: 10px 25px;
    border-radius: 5px;
    position: relative;
    top: -45px;
    background-color: rgb(32, 32, 184);
    color: white;
    text-decoration: none;
}


.status{
    width: 80%;
    height: 150px;
    margin: auto;
    position: relative;
    top: 40px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgb(73, 70, 70);
}

.bookFlightSection {
    height: 250px;
    border-top: 5px solid white;
}

.flight-status{
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(230, 217, 165);
    margin: auto;
    position: relative;

}

.flight-status .from {
    position:relative;
    left: -35px;
}

.flight-status .from p {
   position: relative;
   right: -35px;
}

.flight-status .from span {
    position: relative;
    right: -28px;
}

.flight-status .to {
    position:relative;
    right: -60px;
}

.flight-status .to p {
    position:relative;
    left: 43px;
}

.flight-status .to span {
    position:relative;
    right: -46px;
}

.flight-status .depDate {
    position: relative;
    right: -155px;
}

.flight-status .fromDate {
    position: relative;
    right: -100px;
}

.flight-status .fromDate p {
    position: relative;
    left: -25px;
}

.flight-status .fromDate .fromD {
    position: relative;
    left: -2px;
}

.flight-status .arrDate {
    position: relative;
    right: -50px;
}

.flight-status .toDate {
    position:relative;
    left:-8px;
}


.flight-status i{
    padding: 0 5px;
}
.flight-status span{
    width: 105px;
    text-align: center;
    background-color: white;
}

.from i{
    padding: 0 5px;
}
.flight-status span{
    margin-left: 40px;
}

.search{
    width: 50px;
    height: 35px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option i{
    padding: 0 10px;
}
.option ul{
    display: flex;
    list-style: none;
    margin: 15px 25px;
}
.option ul li{
    padding: 0 30px;
    position:relative;

    left: 370px;
}
.option p{
    margin: 15px 25px;
}


.check ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 10px;
    /* margin-bottom: -5px; */
}

/* .check ul i{
    padding: 0 3px;
} */

.check .line {
    border-bottom: 2px solid rgb(114, 107, 107);
    width: 200px;
    text-align: center;
    padding: 4px 0;
}


/* RESPONSIVE DESIGN */
@media(max-width: 1213px){
    .logo {
        left: 5px;
    }
    .navBar .links,
    .navBar .getStarted{
      display: none;
    }
  
    .navBar{
      backdrop-filter: blur(0);
    }
  
    .navBar .toggleButton{
      display: block;
    }
  
    .dropDownMenu {
      display: block;
    }
  }
  
  @media(max-width: 576px){
    .dropDownMenu {
      left: 2rem;
      width: unset;
    } 
  }
  @media(max-width: 576px){
    .services>.container{
      display: none; 
    }
    .search>.container {
       display: none;
    }
  }
  @media(max-width: 1117px){
    .search>.container {
      align-items: center;
      height: 55vh;
      width: 50%;
    }
    .search-bar {
      padding: 0px 10px;
    }
  }
  
  .search-button {
    transition: transform 80ms ease-in;
  }
  
  .search-button:active {
    transform: scale(0.95);
  }